script(src="/bower_components/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js")  
script(src="/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js")
script(src="/bower_components/AdminLTE/dist/js/app.js")
