meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(href="/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="/stylesheets/font-awesome/css/font-awesome.min.css", rel="stylesheet")
link(href="/bower_components/Ionicons/css/ionicons.min.css", rel="stylesheet")
link(href="/bower_components/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css", rel="stylesheet")
link(href="/bower_components/AdminLTE/dist/css/AdminLTE.min.css", rel="stylesheet")
link(href="/bower_components/AdminLTE/dist/css/skins/skin-blue.min.css", rel="stylesheet")





