secetion.sidebar
	.user-panel
		.pull-left.image
			img.img-circle(src="/images/avatar5.png",alt="user")
		.pull-left.info
			p 清风
			a(href="#")
				i.fa.fa-circle.text-success
				| 在线
	form.sidebar-form(action="#",method="get")
		.input-group
			input.form-control(type="text",name="q",placeholder="查询...")
			span.input-group-btn
				button.btn.btn-flat#search-btn(type="submit",name="search")
					i.fa.fa-search
	ul.sidebar-menu
		li.header 模块
		li.active
			a(href="#")
				i.fa.fa-link
				span 菜单
		li
			a(href="#")
				i.fa.fa-link
				span 菜单
		li.treeview
			a(href="#")
				i.fa.fa-link  
				span 层次菜单 
				i.fa.fa-angle-left.pull-right
			ul.treeview-menu
				li: a(href="#") 二级菜单
				li: a(href="#") 二级菜单



						




