secetion.sidebar
	.user-panel
		.pull-left.image
			img.img-circle(src="/images/avatar5.png",alt="user")
		.pull-left.info
			p 清风
			a(href="#")
				i.fa.fa-circle.text-success
				| 在线
	form.sidebar-form(action="#",method="get")
		.input-group
			input.form-control(type="text",name="q",placeholder="查询...")
			span.input-group-btn
				button.btn.btn-flat#search-btn(type="submit",name="search")
					i.fa.fa-search
	ul.sidebar-menu
		li.header 模块
		li.active
			a(href="#")
				i.fa.fa-link
				span 菜单
		li
			a(href="#")
				i.fa.fa-link
				span 菜单
		li.treeview
			a(href="#")
				i.fa.fa-link  
				span 效果测试 
				i.fa.fa-angle-left.pull-right
			ul.treeview-menu
				li: a(href="/test/goodsclass") 商品分类
				li: a(href="/test/goodsclassedit") 编辑商品分类
				li: a(href="/test/attribute") 属性
				li: a(href="/test/attributeedit") 编辑属性
				li: a(href="/test/goodsclassattribute") 商品分类属性
				li: a(href="/test/goodsclassattributeedit") 编辑商品分类属性
				li: a(href="/test/goodsclassattrefvalue") 商品分类属性值
				li: a(href="/test/goodsclassattrefvalueedit") 编辑商品分类属性值
		li.treeview
			a(href="#")
				i.fa.fa-link  
				span 层次菜单 
				i.fa.fa-angle-left.pull-right
			ul.treeview-menu
				li: a(href="/index-hby") index-hby
				li: a(href="/index-lhg") index-lhg
				li: a(href="/index-zfh") index-zfh
				li: a(href="/index-czp") index-czp
				li: a(href="/invoice") invoice-hby
				li: a(href="/profile") profile-lhg
				li: a(href="/form-general") 基础表单控件-zfh
				li: a(href="/form-advanced") 扩展表单控件-zfh
				li: a(href="/table-simple") 简单表格-zfh
				li: a(href="/table-data") 数据表格-czp
				li: a(href="/mail1") 邮件1-czp
				li: a(href="/mail2") 邮件2-czp
				li: a(href="/mail3") 邮件3-czp
		li.header angular demo
		li
			a(href="/demo/angular-ui-validate/demo/index.html")
				i.fa.fa-link
				span ui-validate		
		li
			a(href="/demo/angular-ui-event/demo/index.html")
				i.fa.fa-link
				span ui-event
		li
			a(href="/demo/angular-ui-mask/demo/index.html")
				i.fa.fa-link
				span ui-mask					
		//- li
		//- 	a(href="/demo/angular-ui-scrollpoint/demo/index.html")
		//- 		i.fa.fa-link
		//- 		span ui-scrollpoint	
		//- li
		//- 	a(href="/demo/angular-ui-indeterminate/demo/index.html")
		//- 		i.fa.fa-link
		//- 		span ui-indeterminate
		li.header ui-select
		li
			a(href="/demo/ui-select/examples/bootstrap.html")
				i.fa.fa-link
				span bootstrap
		li
			a(href="/demo/ui-select/examples/demo-append-to-body.html")
				i.fa.fa-link
				span demo-append-to-body
		li
			a(href="/demo/ui-select/examples/demo-bind-to-single-property-async.html")
				i.fa.fa-link
				span single-property-async
		li
			a(href="/demo/ui-select/examples/demo-bind-to-single-property.html")
				i.fa.fa-link
				span single-property
		li
			a(href="/demo/ui-select/examples/demo-disable-search.html")
				i.fa.fa-link
				span disable-search
		li
			a(href="/demo/ui-select/examples/demo-dropdown-position.html")
				i.fa.fa-link
				span dropdown-position
		li
			a(href="/demo/ui-select/examples/demo-event-on-select.html")
				i.fa.fa-link
				span event-on-select
		li
			a(href="/demo/ui-select/examples/demo-focus.html")
				i.fa.fa-link
				span focus
		li
			a(href="/demo/ui-select/examples/demo-groupby.html")
				i.fa.fa-link
				span groupby
		li
			a(href="/demo/ui-select/examples/demo-groupfilter.html")
				i.fa.fa-link
				span groupfilter
		li
			a(href="/demo/ui-select/examples/demo-multi-select.html")
				i.fa.fa-link
				span multi-select
		li
			a(href="/demo/ui-select/examples/demo-object-as-source.html")
				i.fa.fa-link
				span object-as-source
		li
			a(href="/demo/ui-select/examples/demo-tagging.html")
				i.fa.fa-link
				span tagging
		li
			a(href="/demo/ui-select/examples/demo.html")
				i.fa.fa-link
				span demo
		li
			a(href="/demo/ui-select/examples/select2-bootstrap3.html")
				i.fa.fa-link
				span select2-bootstrap3
		li
			a(href="/demo/ui-select/examples/selectize-bootstrap3.html")
				i.fa.fa-link
				span selectize-bootstrap3
		li.header angular表单
		li
			a(href="/angular/basicform") 基本表单示例
			
		li
			a(href="/angular/basicformhyf") 基本表单示例hyf
		li
			a(href="/angular/basicformsubmit") 基本表单ng-submit
		li
			a(href="/angular/ui-tree-fix") 固定层级的树图		

			a(href="/angular/basicformhby") 基本表单示例hby
		li
			a(href="/angular/basicformhyf") 基本表单示例hyf

