doctype html
html
	head
		meta(charset="utf-8")
		title #{title}-#{appTitle}
		include ./include/head.jade
		block headsrc
		//- link(rel='stylesheet', href='/stylesheets/style.css')
	body.hold-transition.skin-blue.sidebar-mini
		include ./include/header.jade
		include ./include/foot.jade
		block pagesrc