extends ../layout

block content
	section.content-header
		h1= title
			small Welcome to #{title}
		ol.breadcrumb
			li
				a(href="#")
					i.fa.fa-dashboard  上级
			li.active #{title}
	section.content
		h3.page-header info-box
		.row
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-aqua
						i.fa.fa-envelope-o
					.info-box-content
						span.info-box-text 消息
						span.info-box-number 1,410
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-green
						i.fa.fa-flag-o
					.info-box-content
						span.info-box-text 标记
						span.info-box-number 410
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-yellow
						i.fa.fa-files-o
					.info-box-content
						span.info-box-text 上传
						span.info-box-number 13,648
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-red
						i.fa.fa-star-o
					.info-box-content
						span.info-box-text 关注
						span.info-box-number 93,139
		.row
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-aqua
					span.info-box-icon
						i.fa.fa-bookmark-o
					.info-box-content
						span.info-box-text 收藏
						span.info-box-number 41,410
						.progress
							.progress-bar(style="width:70%")
						span.progress-description
							| 30天内增长70%	
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-green
					span.info-box-icon
						i.fa.fa-thumbs-o-up
					.info-box-content
						span.info-box-text 点赞
						span.info-box-number 41,410
						.progress
							.progress-bar(style="width:70%")
						span.progress-description
							| 30天内增长70%	
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-yellow
					span.info-box-icon
						i.fa.fa-calendar-o
					.info-box-content
						span.info-box-text 事件
						span.info-box-number 41,410
						.progress
							.progress-bar(style="width:70%")
						span.progress-description
							| 30天内增长70%	
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-red
					span.info-box-icon
						i.fa.fa-comments-o
					.info-box-content
						span.info-box-text 报道
						span.info-box-number 41,410
						.progress
							.progress-bar(style="width:70%")
						span.progress-description
							| 30天内增长70%	
		h3.page-header small-box (用于显示状态)
		.row
			.col-lg-3.col-xs-6
				.small-box.bg-aqua
					.inner
						h3 150
						p 新增订单
					.icon
						i.fa.fa-shopping-cart
					a.small-box-footer(href='#') 更多信息
						i.fa.fa-arrow-circle-right
			.col-lg-3.col-xs-6
				.small-box.bg-green
					.inner
						h3 53
							sup(style='font-size:20px') %
						p 增长率
					.icon
						i.ion.ion-stats-bars
					a.small-box-footer(href='#') 更多信息
						i.fa.fa-arrow-circle-right
			.col-lg-3.col-xs-6
				.small-box.bg-yellow
					.inner
						h3 44
						p 注册用户
					.icon
						i.ion.ion-person-add
					a.small-box-footer(href='#') 更多信息
						i.fa.fa-arrow-circle-right
			.col-lg-3.col-xs-6
				.small-box.bg-red
					.inner
						h3 65
						p 在线访问
					.icon
						i.ion.ion-pie-graph
					a.small-box-footer(href='#') 更多信息
						i.fa.fa-arrow-circle-right
		h3.page-header box-tools
		.row
			.col-md-3
				.box.box-default.collapsed-box
					.box-header.with-border
						h3.box-title 默认收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-plus
					.box-body 这里是内容
			.col-md-3
				.box.box-success
					.box-header.with-border
						h3.box-title 可删除
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body 这里是内容
			.col-md-3
				.box.box-warning
					.box-header.with-border
						h3.box-title 可收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
					.box-body 这里是内容
			.col-md-3
				.box.box-danger
					.box-header
						h3.box-title 加载中
					.box-body 这里是内容
					.overlay
						i.fa.fa-refresh.fa-spin
		.row
			.col-md-3
				.box.box-default.collapsed-box.box-solid
					.box-header.with-border
						h3.box-title 默认收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-plus
					.box-body 这里是内容
			.col-md-3
				.box.box-success.box-solid
					.box-header.with-border
						h3.box-title 可删除
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body 这里是内容
			.col-md-3
				.box.box-warning.box-solid
					.box-header.with-border
						h3.box-title 可收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
					.box-body 这里是内容
			.col-md-3
				.box.box-danger.box-solid
					.box-header
						h3.box-title 加载中
					.box-body 这里是内容
					.overlay
						i.fa.fa-refresh.fa-spin

		h3.page-header 聊天
		.row
			.col-md-3
				.box.box-primary.direct-chat.direct-chat-primary
					.box-header.with-border
						h3.box-title 聊天
						.box-tools.pull-right
							span.badge.bg-light-blue(data-toggle='tooltip',title='3条新消息') 3
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-box-tool(data-toggle='tooltip',title='联系人',data-widget='chat-pane-toggle')
								i.fa.fa-comments
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left 皮尔斯
									span.derect-chat-timestamp.pull-right 1月23日 下午2:00
								img.direct-chat-img(src='../images/user1-128x128.jpg',alt='用户头像')
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right 莎拉
									span.direct-chat-timestamp.pull-left 1月23日 下午2:05
								img.direct-chat-img(src='../images/user3-128x128.jpg',alt='用户头像')
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li
									a(href='#')
										img.contacts-list-img(src='../images/user1-128x128.jpg')
										.contacts-list-info
											span.contacts-list-name 德库拉
												small.contacts-list-date.pull-right 2015-2-28
										span.contacts-list-msg 你过得怎么样？ 我是...
					.box-footer
						form(action='#',method='post')
							.input-group
								input.form-control(type='text',name='message',placeholder='输入消息...')
								span.input-group-btn
									button.btn.btn-primary.btn-flat(type='submit') 提交					
			.col-md-3
				.box.box-success.direct-chat.direct-chat-success
					.box-header.with-border
						h3.box-title 聊天
						.box-tools.pull-right
							span.badge.bg-green(data-toggle='tooltip',title='3条新消息') 3
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-box-tool(data-toggle='tooltip',title='联系人',data-widget='chat-pane-toggle')
								i.fa.fa-comments
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left 皮尔斯
									span.derect-chat-timestamp.pull-right 1月23日 下午2:00
								img.direct-chat-img(src='../images/user1-128x128.jpg',alt='用户头像')
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right 莎拉
									span.direct-chat-timestamp.pull-left 1月23日 下午2:05
								img.direct-chat-img(src='../images/user3-128x128.jpg',alt='用户头像')
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li
									a(href='#')
										img.contacts-list-img(src='../images/user1-128x128.jpg')
										.contacts-list-info
											span.contacts-list-name 德库拉
												small.contacts-list-date.pull-right 2015-2-28
										span.contacts-list-msg 你过得怎么样？ 我是...
					.box-footer
						form(action='#',method='post')
							.input-group
								input.form-control(type='text',name='message',placeholder='输入消息...')
								span.input-group-btn
									button.btn.btn-success.btn-flat(type='submit') 提交					
			.col-md-3
				.box.box-warning.direct-chat.direct-chat-warning
					.box-header.with-border
						h3.box-title 聊天
						.box-tools.pull-right
							span.badge.bg-yellow(data-toggle='tooltip',title='3条新消息') 3
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-box-tool(data-toggle='tooltip',title='联系人',data-widget='chat-pane-toggle')
								i.fa.fa-comments
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left 皮尔斯
									span.derect-chat-timestamp.pull-right 1月23日 下午2:00
								img.direct-chat-img(src='../images/user1-128x128.jpg',alt='用户头像')
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right 莎拉
									span.direct-chat-timestamp.pull-left 1月23日 下午2:05
								img.direct-chat-img(src='../images/user3-128x128.jpg',alt='用户头像')
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li
									a(href='#')
										img.contacts-list-img(src='../images/user1-128x128.jpg')
										.contacts-list-info
											span.contacts-list-name 德库拉
												small.contacts-list-date.pull-right 2015-2-28
										span.contacts-list-msg 你过得怎么样？ 我是...
					.box-footer
						form(action='#',method='post')
							.input-group
								input.form-control(type='text',name='message',placeholder='输入消息...')
								span.input-group-btn
									button.btn.btn-warning.btn-flat(type='submit') 提交					
			.col-md-3
				.box.box-danger.direct-chat.direct-chat-danger
					.box-header.with-border
						h3.box-title 聊天
						.box-tools.pull-right
							span.badge.bg-red(data-toggle='tooltip',title='3条新消息') 3
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-box-tool(data-toggle='tooltip',title='联系人',data-widget='chat-pane-toggle')
								i.fa.fa-comments
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left 皮尔斯
									span.derect-chat-timestamp.pull-right 1月23日 下午2:00
								img.direct-chat-img(src='../images/user1-128x128.jpg',alt='用户头像')
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right 莎拉
									span.direct-chat-timestamp.pull-left 1月23日 下午2:05
								img.direct-chat-img(src='../images/user3-128x128.jpg',alt='用户头像')
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li
									a(href='#')
										img.contacts-list-img(src='../images/user1-128x128.jpg')
										.contacts-list-info
											span.contacts-list-name 德库拉
												small.contacts-list-date.pull-right 2015-2-28
										span.contacts-list-msg 你过得怎么样？ 我是...
					.box-footer
						form(action='#',method='post')
							.input-group
								input.form-control(type='text',name='message',placeholder='输入消息...')
								span.input-group-btn
									button.btn.btn-danger.btn-flat(type='submit') 提交					
		h3.page-header 社交类widgets
		.row
			.col-md-4
				.box.box-widget.widget-user-2
					.widget-user-header.bg-yellow
						.widget-user-image
							img.img-circle(src='../images/user8-128x128.jpg',alt='用户头像')
						h3.widget-user-username 刘东方
						h5.widget-user-desc 开发部负责人
					.box-footer.no-padding
						ul.nav.nav-stacked
							li
								a(href='#') 项目
									span.pull-right.badge.bg-blue 31
							li
								a(href='#') 任务
									span.pull-right.badge.bg-aqua 5
							li
								a(href='#') 已完成项目
									span.pull-right.badge.bg-green 12
							li
								a(href='#') 下属
									span.pull-right.badge.bg-red 842
			.col-md-4
				.box.box-widget.widget-user
					.widget-user-header.bg-aqua-active
						h3.widget-user-username 刘东方
						h5.widget-user-desc 创始人 &amp; 董事局主席
					.widget-user-image
						img.img-circle(src='../images/user8-128x128.jpg')
					.box-footer
						.row
							.col-sm-4.border-right
								.description-block
									h5.description-header 3,200
									span.description-text 销售
							.col-sm-4.border-right
								.description-block
									h5.description-header 13,000
									span.description-text 跟进
							.col-sm-4.border-right
								.description-block
									h5.description-header 35
									span.description-text 产品
			.col-md-4
				.box.box-widget.widget-user
					.widget-user-header.bg-black(style="background: url('../images/photo4.jpg') center center;")
						h3.widget-user-username 刘东方
						h5.widget-user-desc 创始人 &amp; 董事局主席
					.widget-user-image
						img.img-circle(src='../images/user8-128x128.jpg')
					.box-footer
						.row
							.col-sm-4.border-right
								.description-block
									h5.description-header 3,200
									span.description-text 销售
							.col-sm-4.border-right
								.description-block
									h5.description-header 13,000
									span.description-text 跟进
							.col-sm-4.border-right
								.description-block
									h5.description-header 35
									span.description-text 产品
		h3.page-header 评论页widgets
		.row
			.col-md-6
				.box.box-widget
					.box-header.with-border
						.user-block
							img.img-circle(src='../images/user8-128x128.jpg',alt='用户头像')
							span.username
								a(href='#') 刘东方
							span.description 分享 - 今天 7:30
						.box-tools
							button.btn.btn-box-tool(data-toggle='tooltip',title='标记为已读')
								i.fa.fa-circle-o
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn.box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						img.img-responsive.pad(src='../images/photo2.png',alt='图片')
						p 今天上午拍了这张照片，你们怎么看？
						button.btn.btn-default.btn-xs
							i.fa.fa-share 分享
						button.btn.btn-default.btn-xs
							i.fa.fa-thumbs-o-up 赞 127
						span.pull-right.text-muted 评论 3
					.box-footer.box-comments
						.box-comment
							img.img-circle.img-sm(src='../images/user3-128x128.jpg',alt='用户头像')
							.comment-text
								span.username 玛丽亚
									span.text-muted.pull-right 今天下午 8:03
								事实上，页面的可读内容的布局，会让读者分心。
						.box-comment
							img.img-circle.img-sm(src='../images/user4-128x128.jpg',alt='用户头像')
							.comment-text
								span.username 斯塔克
									span.text-muted.pull-right 今天下午 8:03
								事实上，页面的可读内容的布局，会让读者分心。
						.box-comment
							img.img-circle.img-sm(src='../images/user3-128x128.jpg',alt='用户头像')
							.comment-text
								span.username 玛丽亚
									span.text-muted.pull-right 今天下午 8:03
								事实上，页面的可读内容的布局，会让读者分心。
					.box-footer
						form(action='#',method='post')
							img.img-responsive.img-circle.img-sm(src='../images/user7-128x128.jpg',alt='用户头像')
							.img-push
								input.form-control.input-sm(placeholder='按回车键提交评论')
			.col-md-6
				.box.box-widget
					.box-header.with-border
						.user-block
							img.img-circle(src='../images/user1-128x128.jpg',alt='用户头像')
							span.username
								a(href='#') 乔纳森·伯克
							span.description 分享 - 今天 7:30
						.box-tools
							button.btn.btn-box-tool(data-toggle='tooltip',title='标记为已读')
								i.fa.fa-circle-o
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn.box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						p 据美国媒体12月11日报道，对于克林顿夫妇，人们似乎只有喜欢和不喜欢两种答案，并无中间选项。在流言漩涡中，克林顿夫妇无暇喘息，最近又有新书爆料称，比尔·克林顿是同性恋，在阿肯色大学法学院任职教授期间曾追求男人。
						p 这本书名为《比尔与希拉里:这就是所谓的爱》（Bill & Hillary: So This Is That Thing Called Love）即将于12月21日发布，其作者是丹福思·普林斯（Danforth Prince）和达尔文·波特(Darwin Porter)。亚马逊网站对该书的介绍是，“本书讲述的是两人的爱情故事，他们彼此忠于对方，尽管人生变化无常。”
						p 新书称，克林顿在入主白宫前“私下里对男人感兴趣”。当然，这些未证实传言定会令你大吃一惊，因为克林顿给人的印象是极讨女人喜欢，可以说，同性恋不太符合克林顿的性格。
						.attachment-block.clear-fix
							img.attachment-img(src='http://y0.ifengimg.com/a/2015_51/9f8695620b64a65.jpg',alt='附件图片')
							.attachment-pushed
								h4.attachment-heading
									a(href='http://news.ifeng.com/a/20151213/46650897_0.shtml') 新书爆料称克林顿夫妇是同性恋 相恋只为掩盖性取向
								.attachment-text
									原标题：新书爆料称克林顿夫妇是同性恋 相恋只为掩盖性取向
									中国日报网12月13日电（信莲） 据美国媒体12月11日报道，对于克林顿夫妇，人们似乎只有喜欢和不喜欢两种答案...
									a(href='http://news.ifeng.com/a/20151213/46650897_0.shtml') 更多
						button.btn.btn-default.btn-xs
							i.fa.fa-share 分享
						button.btn.btn-default.btn-xs
							i.fa.fa-thumbs-o-up 赞 45
						span.pull-right.text-muted 评论 2
					.box-footer.box-comments
						.box-comment
							img.img-circle.img-sm(src='../images/user3-128x128.jpg',alt='用户头像')
							.comment-text
								span.username 星海湿人
									span.text-muted.pull-right 今天 8:03
								至少克林顿是双向的。否则莱温斯基不冤死了？
						.box-comment
							img.img-circle.img-sm(src='../images/user5-128x128.jpg',alt='用户头像')
							.comment-text
								span.username 医生Larry
									span.text-muted.pull-right 今天 8:03
								那莱温斯基是日了狗了？
								.box-footer.box-comments
									.box-comment
										img.img-circle.img-sm(src='../images/user3-128x128.jpg',alt='用户头像')
										.comment-text
											span.username 呆乐索--柠檬
												span.text-muted.pull-right 今天 8:03
											这和中国的媒体有什么关联?这是美国选举政治的产物,希拉里要是不参加16年的选举,就不会有这种中段子了.不要动不动就拿贬低"中国的"来掩盖自己的无知
						form(action='#',method='post')
							img.img-responsive.img-circle.img-sm(src='../images/user7-128x128.jpg',alt='用户头像')
							.img-push
								input.form-control.input-sm(placeholder='按回车键提交评论')
		h3.page-header 普通表格table
		.row
			.col-md-12
				.box.box-info
					.box-header.with-border
						h3.box-title 最新订单
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						.table-responsive
							table.table.no-margin
								thead
									tr
										th 订单ID
										th 项目
										th 状态
										th 趋势
								tbody
									tr
										td
											a(href='#') OR9842
										td 使命召唤 10
										td
											span.label.label-success 已交货
										td
											.sparkbar(data-color='#00a65a',data-height='20') 90,80,90,-70,61,-83,63
									tr
										td
											a(href='#') OR1848
										td 三星智能电视
										td
											span.label.label-warning 待处理
										td
											.sparkbar(data-color='#f39c12',data-height='20') 90,80,-90,70,61,-83,68
									tr
										td
											a(href='#') OR7429
										td iPhone 6 Plus
										td
											span.label.label-danger 已批准
										td
											.sparkbar(data-color='#f56954',data-height='20') 90,-80,90,70,-61,83,63
									tr
										td
											a(href='#') OR7429
										td 三星智能电视
										td
											span.label.label-info 处理中
										td
											.sparkbar(data-color='#00c0ef',data-height='20') 90,80,-90,70,-61,83,63
									tr
										td
											a(href='#') OR1848
										td 三星智能电视
										td
											span.label.label-warning 已送货
										td
											.sparkbar(data-color='#f39c12',data-height='20') 90,80,-90,70,61,-83,68
									tr
										td
											a(href='#') OR7429
										td iPhone 6 Plus
										td
											span.label.label-danger 已送货
										td
											.sparkbar(data-color='#f56954',data-height='20') 90,-80,90,70,-61,83,63
									tr
										td
											a(href='#') OR1848
										td 三星智能电视
										td
											span.label.label-warning 已送货
										td
											.sparkbar(data-color='#f39c12',data-height='20') 90,80,-90,70,61,-83,68
									tr
										td
											a(href='#') OR7429
										td iPhone 6 Plus
										td
											span.label.label-danger 已送货
										td
											.sparkbar(data-color='#f56954',data-height='20') 90,-80,90,70,-61,83,63
					.box-footer.clearfix
						a.btn.btn-sm.btn-info.btn-flat.pull-left(href='javascript::;') 新增订单
						a.btn.btn-sm.btn-default.btn-flat.pull-right(href='javascript::;') 查看全部订单
		h3.page-header 用户列表ul VS 产品列表ul
		.row
			.col-md-6
				.box.box-danger
					.box-header.with-border
						h3.box-title 新用户
						.box-tools.pull-right
							span.label.label-danger 8位新用户
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body.no-padding
						ul.users-list.clearfix
							li
								img(src='../images/user1-128x128.jpg',alt='用户头像')
								a.users-list-name 皮尔斯
								span.users-list-date.label-success 今天
							li
								img(src='../images/user8-128x128.jpg',alt='用户头像')
								a.users-list-name 诺曼
								span.users-list-date.label-danger 昨天
							li
								img(src='../images/user3-128x128.jpg',alt='用户头像')
								a.users-list-name 简
								span.users-list-date.label-warning 1月12日
							li
								img(src='../images/user6-128x128.jpg',alt='用户头像')
								a.users-list-name 约翰
								span.users-list-date.label-warning 1月12日
							li
								img(src='../images/user8-128x128.jpg',alt='用户头像')
								a.users-list-name 亚力山大
								span.users-list-date.label-info 1月13日
							li
								img(src='../images/user4-128x128.jpg',alt='用户头像')
								a.users-list-name 萨拉
								span.users-list-date.label-info 1月14日
							li
								img(src='../images/user7-128x128.jpg',alt='用户头像')
								a.users-list-name 罗娜
								span.users-list-date.label-default 1月15日
							li
								img(src='../images/user2-160x160.jpg',alt='用户头像')
								a.users-list-name 纳迪亚
								span.users-list-date.label-default 1月15日
					.box-footer.text-center
						a.uppercase(href='javascript::;') 查看所有用户
			.col-md-6
				.box.box-primary
					.box-header.with-border
						h3.box-title 最新产品
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
							button.btn.btn-box-tool(data-widget='remove')
								i.fa.fa-times
					.box-body
						ul.products-list.product-list-in-box
							li.item
								.product-img
									img(src='http://img13.360buyimg.com/cms/s190x190_jfs/t2191/352/535066397/156061/55d39c8f/56175c38N50a433dd.jpg',alt='产品图片')
								.product-info
									a.product-title(href='javascript::;') 三星智能电视
										span.label.label-warning.pull-right $1800
									span.product-description 三星 32" 1080p 60Hz LED 高清智能电视机
							li.item
								.product-img
									img(src='http://img11.360buyimg.com/n7/jfs/t1924/363/571038421/237907/1eaf9277/56189c3fN402c203a.jpg',alt='产品图片')
								.product-info
									a.product-title(href='javascript::;') 乐视超级智能自行车
										span.label.label-info.pull-right $700
									span.product-description 乐视超级智能自行车山地车公路车 西夫拉
							li.item
								.product-img
									img(src='http://img11.360buyimg.com/n7/jfs/t2158/57/652196803/99671/37cb65c7/561ffa5cN24465f8d.jpg',alt='产品图片')
								.product-info
									a.product-title(href='javascript::;') Xbox One
										span.label.label-danger.pull-right $350
									span.product-description 微软（Micorsoft）Xbox One 港版 HALO 光环4 500G 体感套装 黑色
							li.item
								.product-img
									img(src='http://img13.360buyimg.com/n7/jfs/t1918/154/87922554/159754/52a17bc/55ed0426N5e77ba35.jpg',alt='产品图片')
								.product-info
									a.product-title(href='javascript::;') PlayStation 4
										span.label.label-success.pull-right $399
									span.product-description 索尼（SONY）PlayStation 4 星际战甲套装 CUH-1109A
					.box-footer.text-center
						a.uppercase(href='javascript::;') 查看所有产品


