extends ../layout.jade

block content
	section.content-header
		h1= title
			small welcome to #{title}
		ol.breadcrumb
			li
				a.link(href="#")
					i.fa.fa-dashboard  上级
			li.active 当前
	section.content
		h3 info-box 信息盒子
		.row
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-aqua
						i.fa.fa-envelope-o
					.info-box-content
						span.info-box-text msg
						span.info-box-number 123
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-blue
						i.fa.fa-star-o
					.info-box-content
						span.info-box-text 关注
						span.info-box-number 888
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-red
						i.fa.fa-flag-o
					.info-box-content
						.info-box-text 标记
						.info-box-number 333
			.col-md-3.col-sm-6.col-xs-12
				.info-box
					span.info-box-icon.bg-orange
						i.fa.fa-file-o
					.info-box-content
						.info-box-text 上传
						.info-box-number 8291
		.row
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-aqua
					span.info-box-icon
						i.fa.fa-comments-o
					.info-box-content
						.info-box-text 报道
						.info-box-number 9383
						.progress
							.progress-bar(style="width:70%")
						.progress-description 增加了70%
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-blue
					span.info-box-icon
						i.fa.fa-bookmark-o
					.info-box-content
						.info-box-text 收藏
						.info-box-number 1283
						.progress
							.progress-bar(style="width:10%")
						.progress-description 增加了10%
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-red
					span.info-box-icon
						i.fa.fa-thumbs-o-up
					.info-box-content
						.info-box-text 点赞
						.info-box-number 9983
						.progress
							.progress-bar(style="width:50%")
						.progress-description 增加了50%
			.col-md-3.col-sm-6.col-xs-12
				.info-box.bg-orange
					span.info-box-icon
						i.fa.fa-calendar
					.info-box-content
						.info-box-text 报道
						.info-box-number 9233
						.progress
							.progress-bar(style="width:10%")
						.progress-description 增加了10%

		h3 smal-box 用于显示状态
		.row
			.col-md-3.col-sm-6.col-xs-12
				.small-box.bg-aqua
					.inner
						h3 200
						p 最新订单
					.icon
						i.fa.fa-shopping-cart
					a.small-box-footer(href="#") 更多信息
						i.fa.fa-arrow-right
			.col-md-3.col-sm-6.col-xs-12
				.small-box.bg-blue
					.inner
						h3 33 
						p 增长率
					.icon
						i.ion.ion-stats-bars
					a.small-box-footer(href="#") 更多信息
						i.fa.fa-arrow-right
			.col-md-3.col-sm-6.col-xs-12
				.small-box.bg-red
					.inner
						h3 1324
						p 用户数
					.icon
						i.ion.ion-person-add
					a.small-box-footer(href="#") 更多信息
			.col-md-3.col-sm-6.col-xs-12
				.small-box.bg-orange
					.inner
						h3 2341
						p 在线访问
					.icon
						i.ion.ion-pie-graph
					a.small-box-footer(href="#") 更多信息
						i.fa.fa-arrow-right

		h3.page-header 社交类widgets
		.row
			.col-md-4
				.box.box-widget.widget-user-2
					.widget-user-header.bg-aqua
						.widget-user-image
							img.img-circle(src="/images/user7-128x128.jpg")
						.widget-user-username Lee
						.widget-user-desc	首席执行官
					.box-footer.nopadding
						ul.nav.nav-stacked
							li: a(href="#") 项目
								span.pull-right.badge.bg-blue	100
							li: a(href="#") 任务
								span.pull-right.badge.bg-red	12
							li: a(href="#") 已完成
								span.pull-right.badge.bg-orange	1001
							li: a(href="#") 跟进
								span.pull-right.badge.bg-aqua	3
			.col-md-4
				.box.box-widget.widget-user
					.widget-user-header.bg-blue
						.widget-user-username May
						.widget-user-desc 首席设计师
					.widget-user-image
						img.img-circle(src="/images/user3-128x128.jpg")
					.box-footer
						.row
							.col-sm-4.border-right
								.description-block
									.description-header 3000
									.description-text 销售
							.col-sm-4.border-right
								.description-block
									.description-header 123
									.description-text 跟进
							.col-sm-4.border-right
								.description-block
									.description-header 331
									.description-text 产品
			.col-md-4
				.box.box-widget.widget-user
					.widget-user-header.bg-black(style="background: url('/images/photo4.jpg') center center;")
						h3.widget-user-username Ben
						h5.widget-user-desc 首席技术官
					.widget-user-image
						img.img-circle(src="/images/user8-128x128.jpg")
					.box-footer
						.row
							.col-sm-4.border-right
								.description-block
									.description-header 2321
									.description-text 销售
							.col-sm-4.border-right
								.description-block
									.description-header 123
									.description-text 跟进
							.col-sm-4.border-right
								.description-block
									.description-header 331
									.description-text 产品

		h3.page-header 评论页widgets 
		.row
			.col-md-6
				.box.box-widget
					.box-header.with-border
						.user-block
							img.img-circle(src="/images/user7-128x128.jpg")
							.username 
								a(href="#") Lee
							.description 分享 -今天7:30
						.box-tools
							button.btn.btn-box-tool(type="button",data-toggle="tooltip",title="标记为已读")
								i.fa.fa-circle-o
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body
						img.img-responsive.pad(src="/images/photo3.jpg")
						p 刚刚的作品，如何?
						button.btn.btn-default.btn-xs(type="button")
							i.fa.fa-share
							|  分享
						button.btn.btn-default.btn-xs(type="button")
							i.fa.fa-thumbs-o-up
							|  点赞 
						span.pull-right.text-muted 赞 127 | 评论 3
					.box-footer.box-comments
						.box-comment
							img.img-circle.img-sm(src="/images/user3-128x128.jpg")
							.comment-text
								span.username May
									span.pull-right.text-muted 今天下午 8:03
								| 事实上，页面的可读内容的布局，会让读者分心
						.box-comment
							img.img-circle.img-sm(src="/images/user4-128x128.jpg")
							.comment-text
								span.username Rose
									span.text-muted.pull-right 今天下午 8:03
								| 事实上，页面的可读内容的布局，会让读者分心
					.box-footer
						.form(method="post", action="#")
							img.img-responsive.img-circle.img-sm(src="/images/user5-128x128.jpg")
							.img-push
								input.form-control.imput-sm(type="text",placeholder="输入评论内容...")
			.col-md-6
				.box.box-widget
					.box-header.with-border
						.user-block
							img.img-circle(src="/images/user3-128x128.jpg")
							span.username
								a(href="#") Lee
							span.descrition 分享 - 今天7:30	
						.box-tools
							button.btn.btn-box-tool(type="button",data-toggle="tooltip",title="标记为已读")
								i.fa.fa-circle-o
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body
						p 
							| Far Far Away , 风在空中一直绕 云像以前一样高 那些天使和海盗 渐渐老渐渐忘了。Far Far Away , 风在空中一直绕 云像以前一样高 那些天使和海盗 渐渐老渐渐忘了
						p 
							| Far Far Away , 风在空中一直绕 云像以前一样高 那些天使和海盗 渐渐老渐渐忘了。Far Far Away , 风在空中一直绕 云像以前一样高 那些天使和海盗 渐渐老渐渐忘了
						.attachment-block.clearfix
							img.attachment-img(src="/images/photo1.png",alt="图片")
							.attachment-pushed
								h4.attachment-heading
									a(href="#") Lorem ipsum text generator
								.attachment-text  风在空中一直绕 云像以前一样高 那些天使和海盗 渐渐忘了。说明:有关附件可以放在这里。 Loremj 是印刷和排版虚拟...
									a(href="#") 更多
						button.btn.btn-default.btn-xs(type="button")
							i.fa.fa-share  分享	
						button.btn.btn-default.btn-xs(type="button")
							i.fa.fa-thumbs-o-up  点赞	
						span.pull-right.text-muted 赞 127 | 评论 3
					.box-footer.box-comments
						.box-comment
							img.img-circle.img-sm(src="/images/user3-128x128.jpg")
							.comment-text
								span.username May
									span.pull-right.text-muted 今天下午 8:03
								| 事实上，页面的可读内容的布局，会让读者分心。事实上，页面的可读内容的布局，会让读者分心。
								.box-footer.box-comments
									.box-comment
										img.img-circle.img-sm(src="/images/user4-128x128.jpg")
										.comment-text
											span.username Rose
												span.pull-right.text-muted 今天下午 8:03
											| 回复1	
									.box-comment
										img.img-circle.img-sm(src="/images/user4-128x128.jpg")
										.comment-text
											span.username Rose
												span.pull-right.text-muted 今天下午 8:03
											| 回复2	
						.box-comment
							img.img-circle.img-sm(src="/images/user3-128x128.jpg")
							.comment-text
								span.username May
									span.pull-right.text-muted 今天下午 8:03
								| 事实上，页面的可读内容的布局，会让读者分心。事实上，页面的可读内容的布局，会让读者分心。事实上，页面的可读内容的布局，会让读者分心。事实上，页面的可读内容的布局，会让读者分心。
					.box-footer
						.form(method="post",action="#")
							img.img-responsive.img-circle.img-sm(src="/images/user5-128x128.jpg")
							.img-push
								input.form-control.imput-sm(type="text",placeholder="输入评论内容...")
		h3.page-header box-tools
		.row
			.col-md-3
				.box.box-default.collapsed-box
					.box-header.with-border
						h3.box-title 默认收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-plus
					.box-body(style="display:none") 内容内容
			.col-md-3
				.box.box-success
					.box-header.with-border
						h3.box-title 可移除
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-remove
					.box-body 内容内容	
			.col-md-3
				.box.box-warning
					.box-header.with-border
						h3.box-title 可收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
					.box-body 内容内容
			.col-md-3
				.box.box-danger
					.box-header.with-border
						h3.box-title 加载中...
					.box-body 内容内容
					.overlay
						i.fa.fa-refresh.fa-spin
		.row
			.col-md-3
				.box.box-default.collapsed-box.box-solid
					.box-header.with-border
						h3.box-title 默认收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-plus
					.box-body(style="display:none") 内容内容
			.col-md-3
				.box.box-success.box-solid
					.box-header.with-border
						h3.box-title 可移除
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body 内容内容
			.col-md-3
				.box.box-warning.box-solid
					.box-header.with-border
						h3.box-title 可收缩
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
					.box-body 内容内容
			.col-md-3
				.box.box-danger.box-solid
					.box-header.with-border
						h3.box-title 加载中...
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="collapse")
					.box-body 内容内容
					.overlay
						i.fa.fa-refresh.fa-spin
		h3.page-header 对话
		.row
			.col-md-3
				.box.box-primary.direct-chat.direct-chat-primary
					.box-header.with-border
						.box-title 对话
						.box-tools.pull-right
							span.badge.bg-light-blue(data-toggle="tooltip",title="3条新信息")
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
							button.btn.btn-box-tool(type="button",data-widget="chat-pane-toggle",title="联系人",data-toggle="tooltip")
								i.fa.fa-comments
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left Rose
									span.direct-chat-timestamp.pull-right 1-23 下午2:00
								img.direct-chat-img(src="/images/user4-128x128.jpg")
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！	
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right Pierce
									span.direct-chat-timestamp.pull-left 1-23 下午2:03
								img.direct-chat-img(src="/images/user1-128x128.jpg")
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li:a(href="#")
									img.contacts-list-img(src="/images/user3-128x128.jpg")
									.contacts-list-info
										span.contacts-list-name May
											small.contacts-list-data.pull-right 2015-1-1
										span.contacts-list-msg 怎么老是你。	

					.box-footer
						.form(action="#",method="post")
							.input-group
								input.form-control(type="text",placeholder="输入消息...",name="message")
								span.input-group-btn
									button.btn.btn-primary.btn-flat(type="submit") 发送
			.col-md-3
				.box.box-success.direct-chat.direct-chat-success
					.box-header.with-border
						.box-title 对话
						.box-tools.pull-right
							span.badge.bg-light-blue(data-toggle="tooltip",title="3条新信息")
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
							button.btn.btn-box-tool(type="button",data-widget="chat-pane-toggle",title="联系人",data-toggle="tooltip")
								i.fa.fa-comments
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left Rose
									span.direct-chat-timestamp.pull-right 1-23 下午2:00
								img.direct-chat-img(src="/images/user4-128x128.jpg")
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！	
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right Pierce
									span.direct-chat-timestamp.pull-left 1-23 下午2:03
								img.direct-chat-img(src="/images/user1-128x128.jpg")
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li:a(href="#")
									img.contacts-list-img(src="/images/user3-128x128.jpg")
									.contacts-list-info
										span.contacts-list-name May
											small.contacts-list-data.pull-right 2015-1-1
										span.contacts-list-msg 怎么老是你。	

					.box-footer
						.form(action="#",method="post")
							.input-group
								input.form-control(type="text",placeholder="输入消息...",name="message")
								span.input-group-btn
									button.btn.btn-primary.btn-flat(type="submit") 发送
			.col-md-3
				.box.box-warning.direct-chat.direct-chat-warning
					.box-header.with-border
						.box-title 对话
						.box-tools.pull-right
							span.badge.bg-light-blue(data-toggle="tooltip",title="3条新信息")
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
							button.btn.btn-box-tool(type="button",data-widget="chat-pane-toggle",title="联系人",data-toggle="tooltip")
								i.fa.fa-comments
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left Rose
									span.direct-chat-timestamp.pull-right 1-23 下午2:00
								img.direct-chat-img(src="/images/user4-128x128.jpg")
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！	
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right Pierce
									span.direct-chat-timestamp.pull-left 1-23 下午2:03
								img.direct-chat-img(src="/images/user1-128x128.jpg")
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li:a(href="#")
									img.contacts-list-img(src="/images/user3-128x128.jpg")
									.contacts-list-info
										span.contacts-list-name May
											small.contacts-list-data.pull-right 2015-1-1
										span.contacts-list-msg 怎么老是你。	

					.box-footer
						.form(action="#",method="post")
							.input-group
								input.form-control(type="text",placeholder="输入消息...",name="message")
								span.input-group-btn
									button.btn.btn-primary.btn-flat(type="submit") 发送
			.col-md-3
				.box.box-danger.direct-chat.direct-chat-danger
					.box-header.with-border
						.box-title 对话
						.box-tools.pull-right
							span.badge.bg-light-blue(data-toggle="tooltip",title="3条新信息")
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
							button.btn.btn-box-tool(type="button",data-widget="chat-pane-toggle",title="联系人",data-toggle="tooltip")
								i.fa.fa-comments
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body
						.direct-chat-messages
							.direct-chat-msg
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-left Rose
									span.direct-chat-timestamp.pull-right 1-23 下午2:00
								img.direct-chat-img(src="/images/user4-128x128.jpg")
								.direct-chat-text 这模板真的是免费的吗？这是令人难以置信！	
							.direct-chat-msg.right
								.direct-chat-info.clearfix
									span.direct-chat-name.pull-right Pierce
									span.direct-chat-timestamp.pull-left 1-23 下午2:03
								img.direct-chat-img(src="/images/user1-128x128.jpg")
								.direct-chat-text 你最好相信它！
						.direct-chat-contacts
							ul.contacts-list
								li:a(href="#")
									img.contacts-list-img(src="/images/user3-128x128.jpg")
									.contacts-list-info
										span.contacts-list-name May
											small.contacts-list-data.pull-right 2015-1-1
										span.contacts-list-msg 怎么老是你。	

					.box-footer
						.form(action="#",method="post")
							.input-group
								input.form-control(type="text",placeholder="输入消息...",name="message")
								span.input-group-btn
									button.btn.btn-primary.btn-flat(type="submit") 发送
		h3.page-header table
		.row
			.col-md-9
				.box.box-info
					.box-header
						.box-title 最新订单
						.box-tools.pull-right
							button.btn.btn-box-tool(type="button",data-widget="collapse")
								i.fa.fa-minus
							button.btn.btn-box-tool(type="button",data-widget="remove")
								i.fa.fa-times
					.box-body
						.table-responsive
							table.table.no-margin
								thead
									tr
										th 订单ID
										th 项目
										th 状态
										th 趋势
								tbody
									tr
										td
											a(href="#") 001
										td 	使命召
										td
											span.label.label-success 已完成
										td
											.sparkbar(data-color="#00a65a", data-height="20") 90,80,90,-70,61,-83,63