extends ../layout

block headsrc
	link(href="/bower_components/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css", rel="stylesheet")

block content
	section.content-header
		h1= title
			small Welcome to #{title}
		ol.breadcrumb
			li
				a(href="#")
					i.fa.fa-dashboard  上级
			li.active #{title}
	section.content
		.row
			.col-md-3
				a.btn.btn-primary.btn-block.margin-bottom(href='/mail1') 返回收件箱
				.box.box-solid
					.box-header.with-border
						h3.box-title 文件夹
						.box-tools
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
					.box-body.no-padding
						ul.nav.nav-pills.nav-stacked
							li
								a(href='/mail1')
									i.fa.fa-inbox
									span 收件箱
									span.label.label-primary.pull-right 12
							li
								a(href='#')
									i.fa.fa-envelope-o
									span 已发送邮件
							li
								a(href='#')
									i.fa.fa-file-text-o(href='#')
									span 草稿
							li
								a
									i.fa.fa-filter(href='#') 
									span 垃圾邮件
									span.label.label-warning.pull-right 65
							li
								a(href='#')
									i.fa.fa-trash-o
									span 已删除邮件
				.box.box-solid
					.box-header.with-border
						h3.box-title 标签
						.box-tools
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-minus
					.box-body.no-padding
						ul.nav.nav-pills.nav-stacked
							li
								a(href='#')
									i.fa.fa-circle-o.text-red
									span 重要
							li
								a(href='#')
									i.fa.fa-circle-o.text-blue
									span 促销
							li
								a(href='#')
									i.fa.fa-circle-o.text-yellow
									span 社交
			.col-md-9
				.box.box-primary
					.box-header.with-border
						h3.box-title 写新邮件
					.box-body
						.form-group
							input.form-control(placeholder='请在此处输入收件人')
						.form-group
							input.form-control(placeholder='请在此处输入邮件主题')
						.form-group
							textarea.form-control#compose-textarea(style='height:300px')
								h2 立即预订，率先拥有搭载Windows 10的 Lumia 950 和 950 XL
								p 高端功能、匠心设计以及有史以来操作体验最棒的Windows 10系统——入手这部像”电脑”一样工作的手机吧！Lumia 950/Lumia 950 XL 现已全网开放预约，现在预约并且成功购买这两款手机的用户将有机会获得微软显示扩展坞，数量有限，先到先得！
								h4 让您的手机像个人电脑一样工作
								p 只要将您的Lumia 950或Lumia 950 XL连接至微软显示扩展坞，打开外接显示器、键盘和鼠标，然后会呈现出一个大屏的电脑工作环境，您会发现手机一秒变“电脑”，您可以轻松在屏幕上编辑Office办公软件、发送电子邮件，使您的工作效率大大提高。
								h4 全新 Lumia 950 和 950 XL
								p Lumia 950 和 950 XL 采用性能强大的处理器，具有出色的电池使用寿命，确保您获得卓越的性能，以及最佳的 Windows 10 体验。
						.form-group
							btn.btn.btn-default.btn-file
								i.fa.fa-paperclip
								span &nbsp;添加附件
								input(type='file',name='attachment')
							p.help-block 最大 32MB
					.box-footer
						.pull-right
							button.btn.btn-default
								i.fa.fa-pencil
								span &nbsp;存为草稿
							button.btn.btn-primary(type='submit')
								i.fa.fa-envelope-o
								span &nbsp;发送
						button.btn.btn-default(type='reset')
							i.fa.fa-times
							span &nbsp;放弃

block pagesrc
	script(src="/bower_components/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
	script(src="../js/mail2.js")